<!-- Section Conducteurs Début -->
<div class="jumbotron jumbotron-fluid mb-5">
  <div class="container text-center py-5">
    <h1 class="text-white display-3">Conducteurs</h1>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0"><a class="text-white" href="">Accueil</a></p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0">Conducteurs</p>
    </div>
  </div>
</div>

  <!-- Présentation de l’application -->
      <h2 class="text-primary mb-3">Notre Application Mobile</h2>
      <p class="text-dark">
        L’application mobile <strong>XSchnell Driver</strong> est votre outil tout-en-un pour gérer vos livraisons facilement.
        Depuis la connexion sécurisée jusqu’à votre tableau de bord personnel, chaque écran est conçu pour offrir
        une expérience fluide, rapide et intuitive.
      </p>
   <div class="withedbutton mt-3">
  <a href="https://drive.google.com/uc?export=download&id=1V5Ni8HmKBTIn6wUeGF8xm3sg1D8Jjkjq"
     class="btn btn-success btn-lg d-block">
    <i class="fa fa-download mr-2"></i>
    Télécharger l'application Android
  </a>
</div>


  <!-- Présentation des Interfaces -->
  <div class="mb-5">
    <h2 class="text-primary text-center mb-4">Interfaces de l’Application</h2>
    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <img src="img/settin.jpeg" alt="Interface Profil" class="img-fluid rounded shadow mb-3" style="max-width: 80%; height: auto;">
        <h5 class="font-weight-bold">Gérez votre profil</h5>
        <p class="text-muted">XSchnell est simple à utiliser, où que vous soyez sur la carte.</p>
      </div>
      <div class="col-md-4 mb-4">
        <img src="img/money.png" alt="Interface Commande" class="img-fluid rounded shadow mb-2" style="max-width: 80%; height: auto;">
        <h5 class="font-weight-bold">Acceptez vos missions</h5>
        <p class="text-muted">Gérez vos arrêts pour gagner du temps et économiser du carburant.</p>
      </div>
      <div class="col-md-4 mb-4">
        <img src="img/stops.jpeg" alt="Interface Routage" class="img-fluid rounded shadow mb-3" style="max-width: 80%; height: auto;">
        <h5 class="font-weight-bold">Routage Automatique</h5>
        <p class="text-muted">Des outils intelligents qui simplifient votre travail au quotidien.</p>
      </div>
    </div>
  </div>

  <!-- Section Vidéo -->
  <div class="text-center">
    <h2 class="text-primary mb-3">Comment ça marche ?</h2>
    <p class="text-dark mb-4">
      Découvrez XSchnell en action dans cette courte vidéo de présentation.
    </p>
    <div class="embed-responsive embed-responsive-16by9 rounded shadow">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/KPdGCHdkQEE?si=hZc_oGbWt-f7fHNi"
              allowfullscreen></iframe>
    </div>
  </div>
<!-- Section Conducteurs Fin -->
