
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Get In Touch</h3>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Ben Arous, Tunis </p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+216 28 29 20 24</p>
                        <p><i class="fa fa-envelope mr-2"></i>shnell&#64;service.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social mr-2" href="https://www.facebook.com/share/14P8CrCLgNL/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="https://youtube.com/@xschnell?si=yicXOm8X57OlepZB"><i class="fab fa-youtube"></i></a>
        <a class="btn btn-outline-light btn-social mr-2" href="https://bsky.app/profile/xschnell.bsky.social">  <img src="img/bluesky-brands-solid-full (3).svg" alt="Bluesky" width="18" height="18" style="margin-top: -2px;" /></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/_xschnell_?igsh=MTRqYmFoa3IxdXI2dQ=="><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mb-5">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Quick Links</h3>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" routerLink="/home"><i class="fa fa-angle-right mr-2"></i>acceil</a>
                            <a class="text-white mb-2" routerLink="/about"><i class="fa fa-angle-right mr-2"></i>A propos</a>
                            <a class="text-white mb-2" routerLink="/privacy-policy"><i class="fa fa-angle-right mr-2"></i>Privacy Policy</a>
                            <a class="text-white mb-2" routerLink="/sign-in"><i class="fa fa-angle-right mr-2"></i>Sign In</a>

                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
      <small>&copy; 2025 Shnell — Tous droits réservés.</small>

				<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            </div>

        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
